body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

.center-hole-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(circle 55vh at center,
      transparent 0%, transparent 75%,
      rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 0.7) 100%);
  user-select: none;
  transition: background-color 0.5s cubic-bezier(0, 0, 0.2, 1);
}

.center-hole-mask.flash {
  transition: background-color 0s;
  background: rgb(255, 255, 255, 1.0);
}

.center-hole-mask::before,
.center-hole-mask::after {
  content: '';
  position: absolute;
  opacity: 0.5;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-hole-mask::before {
  width: 2px;
  height: 88vh;
}

.center-hole-mask::after {
  width: 88vh;
  height: 2px;
}

.message-box {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
  transform: none;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  padding: 1.5rem 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  text-align: center;
  min-width: 200px;
  z-index: 10;
}

/* テキストが空なら非表示 */
.message-box:has(p:empty) {
  display: none;
}